@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');
@import url('http://allfont.net/allfont.css?fonts=ostrich-sans-rounded-medium');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Varela+Round');
// Font Mixins

@mixin script-font {
  font-family: "Exo", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin heading-font {
  font-family:  "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@mixin slogan-font {
  font-family:  "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin logo-font {
  font-family: "ostrich sans rounded medium", sans-serif;
  font-weight: 100;
  letter-spacing: 130px;
  color:red;
  text-transform: uppercase;
}
// // Custom fonts
// @font-face {
//     font-family: OstrichSans;
//     src: url('../fonts/ostrich.ttf') format('truetype');
// }