// Styling for the navbar
#mainNav {
  background-color: $nav-bar;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: rgb(245, 231, 209);
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  // .navbar-brand {
  //   color: $primary;
  //   @include script-font;
  //   &.active,
  //   &:active,
  //   &:focus,
  //   &:hover {
  //     color: darken($primary, 10%);
  //   }
  // }
  .navbar-nav {
    .dropdown {
      .drowpdown-menu {
        margin-top: 0;
      }
      .dropdown-toggle {
        color: $theme-secondary!important;
        vertical-align: center;
  
        a {
          color: $theme-secondary!important;
        }
    
        &:hover {
            color:$theme-clickable!important;
        }
  
  }
    }

    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $theme-secondary;
        @include body-font;
        &.active,
        &:hover {
          color: $primary;
        }

        .lang-flag {
          &:hover:before {
            content: 'ADD'
          }
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    .navbar-brand {
      margin-top: 10px;
      background-image: url(../img/logos/circleslogo.png);
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 2em;
      width: 70px;
      height: 70px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 1em;
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $nav-bar;
      .navbar-brand {
        margin-top: 0;
        width: 50px;
        height: 50px;
        padding: 12px 0;
      }
    }
  }
}

