@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "navbar.scss";
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,600,700|Capriola|Dosis:400,500,600,700,800');
@import url('http://allfont.net/allfont.css?fonts=ostrich-sans-rounded-medium');

// Global Components


#partners {
    margin-bottom: 0;
    padding-bottom: 0;
}
#participate {
    background: rgb(253, 211, 121);

    .section-heading {
        margin-bottom: 3vh;
    }
}

#contact {
    color: $theme-secondary;
}

body {
    overflow-x: hidden;
    @include body-font;
    height: 100%;
    background-color: #fdf8ef;
}

.text-muted {
    color: $gray-light;
    text-align: justify;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a {
    outline: none;
    color: $theme-clickable; 
}

a:hover,
a:focus,
a:active,
a.active {
    color: $theme-clickable;
    outline: none;
}

h1 {
    @include heading-font;
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons

.btn{
    text-shadow: none;
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;

}

.btn-mid {
    @include heading-font;
    font-weight: 500;
    border-radius: 5px!important;
    background: $theme-clickable;
    border: none;
    color: $theme-secondary;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;    
    text-align: center;
    border: none;

    &:hover {
        color: $theme-secondary;
    }
}

.btn-header {
    @include heading-font;
    font-weight: 500;
    border-radius: 5px!important;
    background: transparent;
    border: $theme-secondary 1px solid;
    color: $theme-secondary;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;    

    @media(max-height: 568px) {
        font-size: 1rem;
    }
}

.btn-header:hover {
    background: $theme-clickable;
    color: $theme-secondary;
    border: $theme-clickable 1px solid;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 20px;
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $gray-darker;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
            width:50px !important;
            height:50px !important;
            top:0px;
            margin-left: 18px !important;        }
    }
}

header {
    background-image: linear-gradient(#731254, black);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: $theme-primary;
    height: 90vh;

    .header-container {
        height: 80vh;
        @media(max-height: 568px) {
            height: 70vh;
        }
    }

    .js-scroll-trigger {
        @media(max-height: 568px) {
            font-size: 4rem;
            padding: 0;
            margin: 0;
        }

        .fa-angle-down {
            color: $theme-secondary;
            font-size: 5rem;
        }
    }
        .mobile-header-logo {
        width: 40vw;
        margin-top: 20px;

        @media(max-height: 568px) {
            width: 35vw;
            margin-top: 0px;
        }

        @media(max-height: 480px) {
            width: 30vw;
        }

        @media(min-width: 786px) {
           display: none;
        }
    }
    .intro-text {
        padding: 70px 20px 75px 20px;
        
        .intro-lead-in {
            @include slogan-font;
            font-size: 1.9rem;
            line-height: 2rem;
            margin-bottom: 25px;
            color: rgb(247, 188, 100);

            @media(max-height: 568px) {
                font-size: 1.25rem;
                line-height: 1.35rem;
                margin-bottom: 10px;
            }

            @media(max-height: 480px) {
                font-size: 1.15rem;
                line-height: 1.2rem;
                margin-bottom: 5px;
            }
        }
        .intro-heading {
            height: 15vh;
            margin: 10px 0 10px;
            background-image: url(../img/logos/circlestitle.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @media(min-width: 786px) {
        .intro-text {
            padding-top: 20vh;
            .intro-lead-in {
                margin: 4vh;
            }
            .intro-heading {
                margin: 60px 0 40px;
            }
        }
    }
}


// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
        letter-spacing: 3px;
    }
    h3.section-subheading {
        font-size: 20px;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 75px;
        text-align: center!important;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Overview section

#overview {
    padding: 10vh 2vh 10vh;
    min-height: 100vh;

    .fa-circle {
        color: $theme-primary!important;
    }

    h3.section-subheading {
        margin-bottom: 40px;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 5vh!important;
    }

    @media(min-width:768px) {
       p {
           font-size: 1rem
       }
    }
}

// Participate section

#participate {
    min-height: 70vh;
    padding-top: 10vh;

    p {
        font-size: 1.1rem;
        margin-bottom: 3vh;
    }

    @media(min-width:768px) {
       p {
           font-size: 1rem
       }
    }

    h3 {
        margin-bottom: 2vh;
    }
    .section-heading {
        h2 {
            margin-bottom: 10vh;
        }
    }
}

// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out($theme-primary, .9);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include body-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

// Timeline

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: #f1f1f1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            background-color: $theme-primary;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

// Team Section

.team-member {
    text-align: center;
    margin-bottom: 50px;

    img {
        margin: 0 auto;
        background: white;
        border: none;
        outline: none;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Clients Aside

aside.clients {
    img {
        margin: 50px auto;
    }
}

// Illustration

.illustration {
    padding: 20px;
    height: 700px;
    background-image: linear-gradient(#731254, black);
    background-color: none;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    .container {
        height: 100%;
        background-image: url(../img/thecirclespeople.png);
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: center;
        background-size: contain;
    }
}

// Contact Section

section#contact {
    background-color: black;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 0 30px 0;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }

        
    a {
        color: $theme-primary;
        &:hover {
            color: $theme-clickable;
        }
    }


    //form placeholder text
    .place-holder-text{
        @include heading-font;
       font-weight: 700;
       color: $gray-light;
    }
    ::-webkit-input-placeholder {
       @extend .place-holder-text;
    }
    :-moz-placeholder { /* Firefox 18- */
        @extend .place-holder-text;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        @extend .place-holder-text;

    }
    :-ms-input-placeholder {
       @extend .place-holder-text;
    }

    .text-danger {
        color: $theme-danger;
    }
}

// Footer

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include body-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }
        }
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

.hilight{
    color: #731254;

}

.card-col {
    margin-bottom: 30px;
    
    .card{
        background-color: white;
        padding: 30px;
        margin: 5px;
        height: 100%;
        display: inline-block;
        border: none;
        border-radius: 10px;
    }
}
